[Unit]
Description=Config_FRR_by_health_check
After=frr.service

[Service]
ExecStart=/usr/bin/python3 /root/health_check_daemonize.py -t A -q www.google.com -a 169.254.0.1,2001:db8:c::1 -as 64513 -i 15
Restart=always
Type=forking
PIDFile=/var/run/config_frr_health_check.pid

[Install]
WantedBy=multi-user.target
