aiohappyeyeballs
aiohttp
aiosignal
attrs
cachetools
certifi
charset-normalizer
confluent-kafka
dnstap-receiver
dnstap_pb
frozenlist
fstrm
geoip2
idna
maxminddb
multidict
propcache
protobuf
PyYAML
requests
tlds
tomli
typing_extensions
urllib3
yarl
